:root {
  --background-color: #4BB2F9;

  --primary-color: white;
  --secondary-color: rgb(61, 68, 73);
  --highlight-color: #3282b8;

  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --dark: #343A40;

  --dt-status-available-color: greenyellow;
  --dt-status-away-color: lightsalmon;
  --dt-status-offline-color: lightgray;

  --dt-padding: 12px;
  --dt-padding-s: 6px;
  --dt-padding-xs: 2px;

  --dt-border-radius: 3px;

  --dt-background-color-container: #2a3338;
  --dt-border-color: var(--secondary-color);
  --dt-bg-color: var(--highlight-color);
  --dt-text-color: var(--primary-color);
  --dt-bg-active-button: var(--highlight-color);
  --dt-text-color-button: var(--primary-color);
  --dt-text-color-active-button: var(--primary-color);
  --dt-hover-cell-color: var(--highlight-color);
  --dt-even-row-color: var(--secondary-color);
  --dt-focus-color: var(--highlight-color);
  --dt-input-background-color: var(--secondary-color);
  --dt-input-color: var(--primary-color);
}

.material-icons {
  font-size: 16px;
}

.error {
  margin-top: -56px;
}

.navbar {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.datatable-container {
  font-family: sans-serif;
  font-size: 12px;
  border-radius: var(--dt-border-radius);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  margin: 0 auto;
}

.header-tools #search-label::after {
  content: "\e8b6";
  font-family: Material Icons;
}

.table thead th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px var(--dt-border-color);
}

.table.table-hover tbody tr:hover > * {
  --bs-table-bg-state: var(--bs-green);
}

.table tbody tr td:nth-child(n+5) {
  --bs-table-bg-type: var(--bs-primary);
  color: var(--dt-text-color);
  font-weight: bold;
}

.table tbody tr:hover td {
  background: none;
  color: white;
  font-weight: normal;
}